<launch>
    <node name="kitti_player" pkg="kitti_player" type="kitti_player" output="screen">
        <param name="ground_truth_file"        value="/home/ning/data/kitti/dataset/poses/00.txt"/>
        <param name="point_cloud_file"        value="/home/ning/data/kitti/00/velodyne"/>
        <param name="publish_freq"        value="2.0"/>
    </node>
</launch>
