<launch>
    <node name="kitti_player" pkg="kitti_player" type="kitti_player" output="screen">
        <param name="kitti_dataset_dir"         value="/home/ning/data/kitti"/>
        <param name="kitti_sequence"            value="0"/>
        <param name="publish_freq"        value="10"/>
    </node>
</launch>
